<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novo Usuário</title>
</head>
<body>
    <h1>Cadastrar Novo Usuário</h1>
    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
        <label>Nome: <input type="text" th:field="*{nome}"></label><br>
        <label>Email: <input type="email" th:field="*{email}"></label><br>
        <label>Telefone: <input type="text" th:field="*{telefone}"></label><br>
        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/usuarios/listar}">Cancelar</a>
</body>
</html>